# Машинное обучение, ФКН ВШЭ

## Практическое задание 1

### Общая информация
Дата выдачи: 07.09.2018  

Мягкий дедлайн: 07:59MSK 15.09.2018 (за каждый день просрочки снимается 1 балл)

Жесткий дедлайн: 23:59MSK 16.09.2018

### О задании

Задание состоит из двух разделов, посвященных работе с табличными данными с помощью библиотеки pandas и визуализации с помощью matplotlib. В каждом разделе вам предлагается выполнить несколько заданий. Баллы даются за выполнение отдельных пунктов. Задачи в рамках одного раздела рекомендуется решать в том порядке, в котором они даны в задании.

Задание направлено на освоение jupyter notebook (будет использоваться в дальнейших заданиях), библиотекам pandas и matplotlib.

### Оценивание и штрафы
Каждая из задач имеет определенную «стоимость» (указана в скобках около задачи). Максимально допустимая оценка за работу — 10 баллов.

Сдавать задание после указанного срока сдачи нельзя. При выставлении неполного балла за задание в связи с наличием ошибок на усмотрение проверяющего предусмотрена возможность исправить работу на указанных в ответном письме условиях.

Задание выполняется самостоятельно. «Похожие» решения считаются плагиатом и все задействованные студенты (в том числе те, у кого списали) не могут получить за него больше 0 баллов (подробнее о плагиате см. на странице курса). Если вы нашли решение какого-то из заданий (или его часть) в открытом источнике, необходимо указать ссылку на этот источник в отдельном блоке в конце вашей работы (скорее всего вы будете не единственным, кто это нашел, поэтому чтобы исключить подозрение в плагиате, необходима ссылка на источник).

### Формат сдачи
Задания сдаются через систему Anytask. Инвайт можно найти на странице курса. Присылать необходимо ноутбук с выполненным заданием. 

Для удобства проверки самостоятельно посчитайте свою максимальную оценку (исходя из набора решенных задач) и укажите ниже.

Оценка: xx.

## 0. Введение

Сейчас мы находимся в jupyter-ноутбуке (или ipython-ноутбуке). Это удобная среда для написания кода, проведения экспериментов, изучения данных, построения визуализаций и других нужд, не связанных с написаем production-кода. 

Ноутбук состоит из ячеек, каждая из которых может быть либо ячейкой с кодом, либо ячейкой с текстом размеченным и неразмеченным. Текст поддерживает markdown-разметку и формулы в Latex.

Для работы с содержимым ячейки используется *режим редактирования* (*Edit mode*, включается нажатием клавиши **Enter** после выбора ячейки), а для навигации между ячейками искользуется *командный режим* (*Command mode*, включается нажатием клавиши **Esc**). Тип ячейки можно задать в командном режиме либо с помощью горячих клавиш (**y** to code, **m** to markdown, **r** to edit raw text), либо в меню *Cell -> Cell type*. 

После заполнения ячейки нужно нажать *Shift + Enter*, эта команда обработает содержимое ячейки: проинтерпретирует код или сверстает размеченный текст.

In [2]:
# ячейка с кодом, при выполнении которой появится output
2 + 2

4

А это ___ячейка с текстом___.

Ячейка с неразмеченыным текстом.

Попробуйте создать свои ячейки, написать какой-нибудь код и текст какой-нибудь формулой.

In [3]:
# your code

[Здесь](https://athena.brynmawr.edu/jupyter/hub/dblank/public/Jupyter%20Notebook%20Users%20Manual.ipynb) находится <s>не</s>большая заметка о используемом языке разметки Markdown. Он позволяет:

0. Составлять упорядоченные списки
1. #Делать 
##заголовки 
###разного уровня
3. Выделять *текст* <s>при</s> **необходимости**
4. Добавлять [ссылки](http://imgs.xkcd.com/comics/the_universal_label.png)


* Составлять неупорядоченные списки

Делать вставки с помощью LaTex:
    
$
\left\{
\begin{array}{ll}
x = 16 \sin^3 (t) \\ 
y = 13 \cos (t) - 5 \cos (2t) - 2 \cos (3t) - \cos (4t) \\
t \in [0, 2 \pi]
\end{array}
\right.$

## 1. Табличные данные и Pandas

Pandas — удобная библиотека для работы с табличными данными в Python, если данных не слишком много и они помещаются в оперативную память вашего компьютера. Несмотря на неэффективность реализации и некоторые проблемы, библиотека стала стандартом в анализе данных. С этой библиотекой мы сейчас и познакомимся.

Основной объект в pandas это DataFrame, представляющий собой таблицу с именованными колонками различных типов, индексом (может быть многоуровневым). DataFrame можно создавать, считывая таблицу из файла или задавая вручную из других объектов.

В этой части потребуется выполнить несколько небольших заданий. Можно пойти двумя путями: сначала изучить материалы, а потом приступить к заданиям, или же разбираться "по ходу". Выбирайте сами.

Материалы:
1. [Pandas за 10 минут из официального руководства](http://pandas.pydata.org/pandas-docs/stable/10min.html)
2. [Документация](http://pandas.pydata.org/pandas-docs/stable/index.html) (стоит обращаться, если не понятно, как вызывать конкретный метод)
3. [Примеры использования функционала](http://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb)

Многие из заданий можно выполнить несколькими способами. Не существуют единственно верного, но попробуйте максимально задействовать арсенал pandas и ориентируйтесь на простоту и понятность вашего кода. Мы не будем подсказывать, что нужно использовать для решения конкретной задачи, попробуйте находить необходимый функционал сами (название метода чаще всего очевидно). В помощь вам документация, поиск и stackoverflow.

In [4]:
import numpy as np 
import pandas as pd

In [5]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [6]:
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
dates = pd.date_range('20191201', periods=6)
dates

DatetimeIndex(['2019-12-01', '2019-12-02', '2019-12-03', '2019-12-04',
               '2019-12-05', '2019-12-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,5), index=dates, columns=list('PUSHA'))

In [9]:
df
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})

In [10]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [11]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [12]:
df.head(1)

                   P         U         S         H         A
2019-12-01  0.881427  1.030859 -0.365491 -0.245142  0.896063

In [13]:
df.tail(4)

                   P         U         S         H         A
2019-12-03  0.956803  1.519841  0.212906 -0.049333 -0.110523
2019-12-04  0.262652  0.878616  0.874981 -0.637519  0.056305
2019-12-05  1.473455 -0.473505 -1.759840  0.039429 -1.679155
2019-12-06  1.173091  0.191079  1.318848  1.002768  1.347274

In [14]:
df.index

DatetimeIndex(['2019-12-01', '2019-12-02', '2019-12-03', '2019-12-04',
               '2019-12-05', '2019-12-06'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df.columns

Index(['P', 'U', 'S', 'H', 'A'], dtype='object')

In [16]:
dd = np.array([5] * 6)
dd.T

array([5, 5, 5, 5, 5, 5])

In [17]:
df.A

2019-12-01    0.896063
2019-12-02   -1.260011
2019-12-03   -0.110523
2019-12-04    0.056305
2019-12-05   -1.679155
2019-12-06    1.347274
Freq: D, Name: A, dtype: float64

In [18]:
#pylab inline  # import almost all we need
import pandas as pd

Данные можно скачать [отсюда](https://www.dropbox.com/s/5qq94wzmbw4e54r/data.csv?dl=0).

#### 1. [0.5 баллов] Откройте файл с таблицей (не забудьте про её формат). Выведите последние 10 строк.

Посмотрите на данные и скажите, что они из себя представляют, сколько в таблице строк, какие столбцы?

In [19]:
import csv

In [20]:
data = pd.read_csv('/Users/natalia/downloads/data.csv') 
data.tail(10)

,order_id,quantity,item_name,choice_description,item_price
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

 #### 2. [0.25 баллов] Ответьте на вопросы:
1. Сколько заказов попало в выборку?
2. Сколько уникальных категорий товара было куплено? (item_name)

In [21]:
len(data) #сколько заказов попало в выборку
stolb_a = data['item_name'].value_counts()
len(stolb_a)
len(set(data['item_name']))

50

#### 3. [0.25 баллов] Есть ли в данных пропуски? В каких колонках?

In [22]:
data.columns[data.isna().any()].tolist()

['choice_description']

In [23]:
data

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
20,10,1,Chips and Guacamole,NaN,$4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
24,12,1,Izze,[Grapefruit],$3.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,$2.39
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99
28,14,1,Canned Soda,[Dr. Pepper],$1.09
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
...,...,...,...,...,...
4592,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$11.75
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",$11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",$11.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4596,1826,1,Chips and Guacamole,NaN,$4.45
4597,1826,1,Canned Soft Drink,[Nestea],$1.25
4598,1826,1,Bottled Water,NaN,$1.50
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4600,1827,1,Chips and Guacamole,NaN,$4.45
4601,1827,1,Canned Soft Drink,[Diet Coke],$1.25
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4605,1828,1,Chips and Guacamole,NaN,$4.45
4606,1828,1,Canned Soft Drink,[Coke],$1.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",$11.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4609,1829,1,Canned Soft Drink,[Sprite],$1.25
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

Заполните пропуски пустой строкой для строковых колонок и нулём для числовых.

In [24]:
#data.fillna(value = '')
values = {}
for column in data.columns:
    if data[str(column)].dtypes == 'int64':
        values[column] = 0
    if data['{}'.format(column)].dtypes == 'object':
         values[column] = ''
data = data.fillna(value = values)

#### 4. [0.5 баллов] Посмотрите внимательнее на колонку с ценой товара. Какого она типа? Создайте новую колонку так, чтобы в ней цена была числом.

Для этого попробуйте применить функцию-преобразование к каждой строке вашей таблицы (для этого есть соответствующая функция).

In [25]:
#проверим тип товара
data['item_price'].dtypes
#скопируем колонку
data['item_price_copy'] = data['item_price'].copy()
#удалим $ и изменим тип данных
data['item_price_copy'] = data['item_price_copy'].map(lambda x: float(str(x)[1:]))
data.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price             object
item_price_copy       float64
dtype: object

In [26]:
data[data.item_price_copy == 44.25]

,order_id,quantity,item_name,choice_description,item_price,item_price_copy
3598,1443,15,Chips and Fresh Tomato Salsa,,$44.25,44.25

Какая средняя/минимальная/максимальная цена у товара?

In [27]:
price_max = data['item_price_copy'].max()
print('Максимальная цена товара: ${}'.format(price_max))
price_min = data['item_price_copy'].min()
print('Минимальная цена товара: ${}'.format(price_min))

Максимальная цена товара: $44.25
Минимальная цена товара: $1.09

Удалите старую колонку с ценой.

#### 5. [0.25 баллов] Какие 5 товаров были самыми дешёвыми и самыми дорогими? (по choice_description)

Для этого будет удобно избавиться от дубликатов и отсортировать товары. Не забудьте про количество товара.

In [29]:
data = data.drop_duplicates()
data['price_per_item'] = data['item_price_copy'] / data['quantity']
data_sort = data.sort_values(['price_per_item'])
#топ-5 самых дешевых товаров
data_sort.head(5)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,order_id,quantity,item_name,choice_description,item_price,item_price_copy,price_per_item
780,321,1,Bottled Water,,$1.09,1.09,1.09
2922,1162,1,Bottled Water,,$1.09,1.09,1.09
3254,1303,1,Canned Soda,[Sprite],$1.09,1.09,1.09
3499,1405,1,Bottled Water,,$1.09,1.09,1.09
352,151,2,Canned Soda,[Coca Cola],$2.18,2.18,1.09

In [30]:
#топ-5 самых дорогих товаров
data_sort.tail(5)

,order_id,quantity,item_name,choice_description,item_price,item_price_copy,price_per_item
1159,478,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",$11.89,11.89,11.89
3546,1426,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, Guacamole]",$11.89,11.89,11.89
606,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",$11.89,11.89,11.89
1505,612,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",$11.89,11.89,11.89
1326,541,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.89,11.89,11.89

#### 6. [0.5 баллов] Сколько раз клиенты покупали больше 1 Chicken Bowl (item_name)?

In [31]:
data_Chicken_Bowl = data[data.item_name == 'Chicken Bowl']
len(data_Chicken_Bowl[data_Chicken_Bowl.quantity > 1])

33

#### 7. [0.5 баллов] Какой средний чек у заказа? Сколько в среднем товаров покупают?

Если необходимо провести вычисления в терминах заказов, то будет удобно сгруппировать строки по заказам и посчитать необходимые статистики.

In [32]:
data_ordered_by_id = data.groupby('order_id').sum()
data_ordered_by_id.describe()

          quantity  item_price_copy  price_per_item
count  1834.000000      1834.000000     1834.000000
mean      2.678844        18.635360       17.677917
std       1.641962        11.352562       10.051384
min       1.000000         8.750000        7.400000
25%       2.000000        12.500000       12.400000
50%       2.000000        15.740000       14.450000
75%       3.000000        21.950000       20.500000
max      35.000000       187.750000      187.750000

#### 8. [0.25 баллов] Сколько заказов содержали ровно 1 товар?

In [33]:
data[['order_id', 'quantity']].groupby('quantity').count()

          order_id
quantity
1             4296
2              224
3               28
4               10
5                1
7                1
8                1
10               1
15               1

#### 9. [0.25 баллов] Какая самая популярная категория товара?

In [34]:
data[['order_id', 'item_name']].groupby('item_name').count().sort_values('order_id', ascending = False)

                                       order_id
item_name
Chicken Bowl                                717
Chicken Burrito                             546
Chips and Guacamole                         474
Steak Burrito                               365
Canned Soft Drink                           290
Steak Bowl                                  210
Chips                                       208
Bottled Water                               155
Chicken Soft Tacos                          111
Chicken Salad Bowl                          110
Chips and Fresh Tomato Salsa                110
Canned Soda                                 102
Side of Chips                               101
Veggie Burrito                               95
Barbacoa Burrito                             90
Veggie Bowl                                  85
Carnitas Bowl                                68
Barbacoa Bowl                                65
Carnitas Burrito                             59
Steak Soft Tacos                             55
6 Pack Soft Drink                            54
Chicken Crispy Tacos                         47
Chips and Tomatillo Red Chili Salsa          46
Chips and Tomatillo Green Chili Salsa        43
Carnitas Soft Tacos                          40
Steak Crispy Tacos                           35
Chips and Tomatillo-Green Chili Salsa        31
Steak Salad Bowl                             29
Nantucket Nectar                             27
Barbacoa Soft Tacos                          25
Chips and Roasted Chili Corn Salsa           22
Chips and Tomatillo-Red Chili Salsa          19
Izze                                         19
Veggie Salad Bowl                            18
Chips and Roasted Chili-Corn Salsa           18
Barbacoa Crispy Tacos                        11
Barbacoa Salad Bowl                           9
Chicken Salad                                 9
Carnitas Crispy Tacos                         7
Veggie Soft Tacos                             7
Burrito                                       6
Veggie Salad                                  6
Carnitas Salad Bowl                           6
Steak Salad                                   4
Bowl                                          2
Salad                                         2
Crispy Tacos                                  2
Chips and Mild Fresh Tomato Salsa             1
Carnitas Salad                                1
Veggie Crispy Tacos                           1

#### 10. [0.5 баллов] Какие виды Burrito существуют? Какой из них чаще всего покупают? Какой из них самый дорогой?

In [35]:
#data[data.item_name.isin('*Burrito')]
data.loc[data['item_name'] == 'Burrito']
data['burrito'] = data['item_name'].str.contains('Burrito')
data_burrito1 = data[data.burrito == True].drop_duplicates('item_name')
data_burrito = data[data.burrito == True]

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [36]:
#виды Burrito
data_burrito1['item_name']

7         Steak Burrito
16      Chicken Burrito
21     Barbacoa Burrito
27     Carnitas Burrito
57       Veggie Burrito
510             Burrito
Name: item_name, dtype: object

In [37]:
data

,order_id,quantity,item_name,choice_description,item_price,item_price_copy,price_per_item,burrito
0,1,1,Chips and Fresh Tomato Salsa,,$2.39,2.39,2.39,False
1,1,1,Izze,[Clementine],$3.39,3.39,3.39,False
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39,False
3,1,1,Chips and Tomatillo-Green Chili Salsa,,$2.39,2.39,2.39,False
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,8.49,False
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98,10.98,False
6,3,1,Side of Chips,,$1.69,1.69,1.69,False
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75,11.75,True
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25,9.25,False
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,9.25,9.25,True
10,5,1,Chips and Guacamole,,$4.45,4.45,4.45,False
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75,8.75,False
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,8.75,8.75,False
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25,False
14,7,1,Chips and Guacamole,,$4.45,4.45,4.45,False
15,8,1,Chips and Tomatillo-Green Chili Salsa,,$2.39,2.39,2.39,False
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49,8.49,8.49,True
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49,8.49,8.49,True
18,9,2,Canned Soda,[Sprite],$2.18,2.18,1.09,False
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75,8.75,8.75,False
20,10,1,Chips and Guacamole,,$4.45,4.45,4.45,False
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99,8.99,8.99,True
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39,3.39,3.39,False
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98,10.98,10.98,True
24,12,1,Izze,[Grapefruit],$3.39,3.39,3.39,False
25,13,1,Chips and Fresh Tomato Salsa,,$2.39,2.39,2.39,False
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49,8.49,8.49,False
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99,8.99,8.99,True
28,14,1,Canned Soda,[Dr. Pepper],$1.09,1.09,1.09,False
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49,8.49,8.49,True
...,...,...,...,...,...,...,...,...
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75,8.75,8.75,False
4592,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$11.75,11.75,11.75,True
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",$11.75,11.75,11.75,False
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",$11.75,11.75,11.75,False
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75,8.75,8.75,False
4596,1826,1,Chips and Guacamole,,$4.45,4.45,4.45,False
4597,1826,1,Canned Soft Drink,[Nestea],$1.25,1.25,1.25,False
4598,1826,1,Bottled Water,,$1.50,1.50,1.50,False
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75,8.75,8.75,False
4600,1827,1,Chips and Guacamole,,$4.45,4.45,4.45,False
4601,1827,1,Canned Soft Drink,[Diet Coke],$1.25,1.25,1.25,False
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25,9.25,9.25,True
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75,8.75,False
4605,1828,1,Chips and Guacamole,,$4.45,4.45,4.45,False
4606,1828,1,Canned Soft Drink,[Coke],$1.25,1.25,1.25,False
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",$11.75,11.75,11.75,True
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25,11.25,True
4609,1829,1,Canned Soft Drink,[Sprite],$1.25,1.25,1.25,False
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75,11.75,True
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25,11.25,11.25,True
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25,9.25,9.25,False
4613,1831,1,Chips,,$2.15,2.15,2.15,False
4614,1831,1,Bottled Water,,$1.50,1.50,1.50,False
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75,8.75,8.75,False
4616,1832,1,Chips and Guacamole,,$4.45,4.45,4.45,False
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75,11.75,True
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75,11.75,True
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25,11.25,False
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75,8.75,False
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,8.75,False

In [38]:
#буррито, который чаще всего покупают
data_burrito[['item_name','order_id']].groupby('item_name').count().sort_values('order_id', ascending = False).head(1)

                 order_id
item_name
Chicken Burrito       546

In [39]:
#самый дорогой буррито
set(data_burrito[data_burrito.price_per_item == data_burrito['price_per_item'].max()]['item_name'])

{'Barbacoa Burrito', 'Carnitas Burrito', 'Steak Burrito'}

#### 11. [0.75 баллов] В каком количестве заказов есть товар, который стоит более 40% от суммы всего чека?

Возможно, будет удобно посчитать отдельно средний чек, добавить его в исходные данные и сделать необходимые проверки.

In [40]:
data['av_bill'] = 18.635360
data_ordered_by_id
av_bill_per_order = []
a = data['item_price_copy']
data_ordered_by_id1 = data.groupby('order_id').count()   
data_full = pd.merge(data, data_ordered_by_id, on = 'order_id')    
data_full['more_or_less_40_percent'] = (data_full['item_price_copy_x'] > 0.4 * data_full['item_price_copy_y'])
ebar = []

for index, row in data_full.iterrows():
    if row['more_or_less_40_percent'] == True:
            ebar.append(1)
    else:
        ebar.append(0)
ebar
data_full['ebat'] = ebar
data_full.groupby('order_id').sum()

# def agregate(values):
#     return list(values).count(True)

# data_full.groupby('order_id').aggregate(agregate)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,quantity_x,item_price_copy_x,price_per_item_x,burrito,av_bill,quantity_y,item_price_copy_y,price_per_item_y,more_or_less_40_percent,ebat
order_id,,,,,,,,,,
1,4,11.56,11.56,0.0,74.54144,16,46.24,46.24,0.0,0
2,2,16.98,8.49,0.0,18.63536,2,16.98,8.49,1.0,1
3,2,12.67,12.67,0.0,37.27072,4,25.34,25.34,1.0,1
4,2,21.00,21.00,1.0,37.27072,4,42.00,42.00,2.0,2
5,2,13.70,13.70,1.0,37.27072,4,27.40,27.40,1.0,1
6,2,17.50,17.50,0.0,37.27072,4,35.00,35.00,2.0,2
7,2,15.70,15.70,0.0,37.27072,4,31.40,31.40,1.0,1
8,2,10.88,10.88,1.0,37.27072,4,21.76,21.76,1.0,1
9,3,10.67,9.58,1.0,37.27072,6,21.34,19.16,1.0,1
10,2,13.20,13.20,0.0,37.27072,4,26.40,26.40,1.0,1
11,2,12.38,12.38,1.0,37.27072,4,24.76,24.76,1.0,1
12,2,14.37,14.37,1.0,37.27072,4,28.74,28.74,1.0,1
13,2,10.88,10.88,0.0,37.27072,4,21.76,21.76,1.0,1
14,2,10.08,10.08,1.0,37.27072,4,20.16,20.16,1.0,1
15,2,10.88,10.88,1.0,37.27072,4,21.76,21.76,1.0,1
16,2,10.68,10.68,1.0,37.27072,4,21.36,21.36,1.0,1
17,2,10.08,10.08,0.0,37.27072,4,20.16,20.16,1.0,1
18,4,24.90,24.90,0.0,74.54144,16,99.60,99.60,0.0,0
19,2,13.90,13.90,0.0,37.27072,4,27.80,27.80,1.0,1
20,4,36.20,36.20,1.0,74.54144,16,144.80,144.80,0.0,0
21,3,23.36,23.36,2.0,55.90608,9,70.08,70.08,1.0,1
22,2,12.98,12.98,1.0,37.27072,4,25.96,25.96,1.0,1
23,3,11.17,10.08,1.0,37.27072,6,22.34,20.16,1.0,1
24,2,12.07,12.07,1.0,37.27072,4,24.14,24.14,1.0,1
25,2,11.38,11.38,0.0,37.27072,4,22.76,22.76,1.0,1
26,2,20.50,20.50,1.0,37.27072,4,41.00,41.00,2.0,2
27,2,13.90,13.90,0.0,37.27072,4,27.80,27.80,1.0,1
28,4,33.70,33.70,1.0,74.54144,16,134.80,134.80,0.0,0
29,2,17.98,17.98,1.0,37.27072,4,35.96,35.96,2.0,2
30,3,23.36,23.36,2.0,55.90608,9,70.08,70.08,1.0,1
...,...,...,...,...,...,...,...,...,...,...
1805,2,20.00,20.00,0.0,37.27072,4,40.00,40.00,2.0,2
1806,3,11.50,11.50,1.0,55.90608,9,34.50,34.50,1.0,1
1807,2,18.64,18.64,1.0,37.27072,4,37.28,37.28,2.0,2
1808,2,13.70,13.70,0.0,37.27072,4,27.40,27.40,1.0,1
1809,3,14.45,14.45,0.0,55.90608,9,43.35,43.35,1.0,1
1810,2,23.00,23.00,0.0,37.27072,4,46.00,46.00,2.0,2
1811,3,29.25,29.25,1.0,55.90608,9,87.75,87.75,0.0,0
1812,4,22.50,21.25,2.0,55.90608,12,67.50,63.75,1.0,1
1813,2,17.50,8.75,0.0,18.63536,2,17.50,8.75,1.0,1
1814,2,13.70,13.70,0.0,37.27072,4,27.40,27.40,1.0,1
1815,2,12.50,12.50,0.0,37.27072,4,25.00,25.00,1.0,1
1816,2,13.20,13.20,1.0,37.27072,4,26.40,26.40,1.0,1
1817,3,11.50,11.50,1.0,55.90608,9,34.50,34.50,1.0,1
1818,2,18.14,18.14,0.0,37.27072,4,36.28,36.28,2.0,2
1819,2,13.20,13.20,0.0,37.27072,4,26.40,26.40,1.0,1
1820,2,12.50,12.50,0.0,37.27072,4,25.00,25.00,1.0,1
1821,2,13.70,13.70,1.0,37.27072,4,27.40,27.40,1.0,1
1822,4,23.00,21.50,0.0,55.90608,12,69.00,64.50,1.0,1
1823,3,12.15,12.15,0.0,55.90608,9,36.45,36.45,1.0,1
1824,3,26.95,26.95,0.0,55.90608,9,80.85,80.85,2.0,2
1825,6,66.50,66.50,1.0,111.81216,36,399.00,399.00,0.0,0
1826,4,15.95,15.95,0.0,74.54144,16,63.80,63.80,1.0,1
1827,4,23.70,23.70,1.0,74.54144,16,94.80,94.80,0.0,0
1828,3,14.45,14.45,0.0,55.90608,9,43.35,43.35,1.0,1
1829,3,24.25,24.25,2.0,55.90608,9,72.75,72.75,2.0,2
1830,2,23.00,23.00,2.0,37.27072,4,46.00,46.00,2.0,2
1831,3,12.90,12.90,0.0,55.90608,9,38.70,38.70,1.0,1
1832,2,13.20,13.20,0.0,37.27072,4,26.40,26.40,1.0,1
1833,2,23.50,23.50,2.0,37.27072,4,47.00,47.00,2.0,2
1834,3,28.75,28.75,0.0,55.90608,9,86.25,86.25,0.0,0

#### 12. [0.75 баллов] Предположим, что в данных была ошибка и Diet Coke (choice_description), который стоил $1.25, должен был стоить 1.35. Скорректируйте данные в таблицы и посчитайте, на какой процент больше денег было заработано с этого товара. Не забывайте, что количество товара не всегда равно 1.

In [41]:
coke = data[(data.choice_description == '[Diet Coke]') & (data.item_price_copy == 1.25)]
first_profit = coke['item_price_copy'].sum()
coke_1 = coke.replace(1.25, 1.35)
actual_profit = coke_1['item_price_copy'].sum()
actual_profit
((actual_profit / first_profit) - 1) * 100

7.999999999999963

#### 13. [0.75 баллов] Создайте новый DateFrame из матрицы, созданной ниже. Назовите колонки index, column1, column2 и сделайте первую колонку индексом.

In [ ]:
data = np.random.rand(10, 3)

# your code

Сохраните DataFrame на диск в формате csv без индексов и названий столбцов.

In [ ]:
# your code

## 2. Визуализации и matplotlib

При работе с данными часто неудобно делать какие-то выводы, если смотреть на таблицу и числа в частности, поэтому важно уметь визуализировать данные. В этом разделе мы этим и займёмся.

У matplotlib, конечно, же есть [документация](https://matplotlib.org/users/index.html) с большим количеством [примеров](https://matplotlib.org/examples/), но для начала достаточно знать про несколько основных типов графиков:
- plot — обычный поточечный график, которым можно изображать кривые или отдельные точки;
- hist — гистограмма, показывающая распределение некоторое величины;
- scatter — график, показывающий взаимосвязь двух величин;
- bar — столбцовый график, показывающий взаимосвязь количественной величины от категориальной.

В этом задании вы попробуете построить каждый из них. Не менее важно усвоить базовые принципы визуализаций:
- на графиках должны быть подписаны оси;
- у визуализации должно быть название;
- если изображено несколько графиков, то необходима поясняющая легенда;
- все линии на графиках должны быть чётко видны (нет похожих цветов или цветов, сливающихся с фоном);
- если отображена величина, имеющая очевидный диапазон значений (например, проценты могут быть от 0 до 100), то желательно масштабировать ось на весь диапазон значений (исключением является случай, когда вам необходимо показать малое отличие, которое незаметно в таких масштабах).

In [ ]:
%matplotlib inline  # нужно для отображения графиков внутри ноутбука
import matplotlib.pyplot as plt

На самом деле мы уже импортировали matplotlib внутри %pylab inline в начале задания.

Работать мы будем с той же выборкой покупкок. Добавим новую колонку с датой покупки.

In [ ]:
import datetime

start = datetime.datetime(2018, 1, 1)
end = datetime.datetime(2018, 1, 31)
delta_seconds = int((end - start).total_seconds())

dates = pd.DataFrame(index=df.order_id.unique())
dates['date'] = [
    (start + datetime.timedelta(seconds=random.randint(0, delta_seconds))).strftime('%Y-%m-%d')
    for _ in range(df.order_id.nunique())]

# если DataFrame с покупками из прошлого заказа называется не df, замените на ваше название ниже
df['date'] = df.order_id.map(dates['date'])

#### 1. [1 балл] Постройте гистограмму распределения сумм покупок и гистограмму средних цен отдельных видов продуктов item_name. 

Изображайте на двух соседних графиках. Для этого может быть полезен subplot.

In [ ]:
# your code

#### 2. [1 балл] Постройте график зависимости суммы покупок от дней.

In [ ]:
# your code

#### 3. [1 балл] Постройте средних сумм покупок по дням недели (bar plot).

In [ ]:
# your code

#### 4. [1 балл] Постройте график зависимости денег за товар от купленного количества (scatter plot).

In [ ]:
# your code

Сохраните график в формате pdf (так он останется векторизованным).

In [ ]:
# your code

Кстати, существует надстройка над matplotlib под названием [seaborn](https://jakevdp.github.io/PythonDataScienceHandbook/04.14-visualization-with-seaborn.html). Иногда удобнее и красивее делать визуализации через неё.